MASTER/output_sims/**
**storage/
**/*.nexus
**/*.fasta
**/*.newick
**/*.json
**/*.Rdata
**/*.Rhistory
**/*.log
**/*.log.gz
**/*.cblv
**/*.cblv.gz
**/*.csv
**/*.ancStates
**/*.ancStates.gz
**/*.log.ess
**/*.printscreen
**/tree_encoding/cblv_files/
**/neural_network_dev/data_files/
**/*.ci
**/*.lib.bib
**/*.tar
